<% content_for :page_actions do %>
  <li><%= button_link_to t(:export_to_csv), url, :icon => 'file' %></li>
  <li>
    <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, class: 'button' %>
  </li>
<% end %>
<%= paginate @variants %>
<div id="stock_variants">
  <table class="admin-report" data-hook="stock_report">
    <thead>
      <tr>
        <th></th>
        <th class="sort" data-sort="name">
          <%= Spree.t(:product_name) %>
        </th>
        <th class="sort" data-sort="variant">
         <%= Spree.t(:variant_name) %>
        </th>
        <th class="sort" data-sort="sku">
          <%= Spree.t(:sku) %>
        </th>
        <th>
          <%= Spree.t(:price) %>
        </th>
        <th>
          <%= Spree.t(:stock_items_count) %>
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <% @variants.each do |variant| %>
        <tr class="align-center">
          <td class="stock_image">
            <%= mini_image(variant) %>
          </td>
          <td class="name">
            <%= link_to "#{variant.product.name}", edit_admin_product_path(variant.product) %>
          </td>
          <td class="variant">
            <%= link_to "#{variant.options_text}", edit_admin_product_variant_path(variant.product, variant.id) %>
          </td>
          <td class="sku">
            <%= variant.sku %>
          </td>
          <td class="price">
            <%= variant.display_price.to_html %>
          </td>
          <td class="quantity">
            <%= variant.total_on_hand %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @variants %>
</div>
