<% content_for :page_title do %>
  <%= Spree.t(:total_sales_of_each_product) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, class: 'button' %></li>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
  <%= render partial: ('form_search'), locals: { url: spree.total_sales_of_each_variant_admin_reports_path } %>
<% end %>

<div id="sales_total">
  <%= render partial: ('table_products_report'), locals: { products: @variants } %>
</div>
